@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
  }